.sider {
  overflow: auto;
  padding: 12px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.colorWhite {
  color: white;
}

.content {
  padding: 24px;
  margin: 0;
}

.layout {
  min-height: 100vh;
}

.col {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.ml {
  margin-left: 200px;
}
